<h2 id="all" class="scroll">All</h2>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>

<h2 id="ds" class="scroll">Design Studies</h2>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	
<h2 id="id" class="scroll">Industrial Design</h2>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>

<h2 id="mfa" class="scroll">Master of Fine Arts</h2>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>

<h2 id="vcd" class="scroll">Visual Communication Design</h2>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>
	<%= render @people %>