<!--<div id="home">
	<h3>You want print?</h3>
	<p>We'll give you print</p>
</div> -->
<h2 id="all">All</h2>
	<%= render @projects %>
	
<h2 id="brand">Brand Design</h2>
	<%= render @projects %>

<h2 id="exhibition">Exhibition Design</h2>
	<%= render @projects %>
	
<h2 id="furniture">Furniture Design</h2>
	<%= render @projects %>
	<%= render @projects %>
	
<h2 id="information">Information Design</h2>
	<%= render @projects %>
	<%= render @projects %>
	
<h2 id="interaction">Interaction Design</h2>
	<%= render @projects %>
	
<h2 id="motion">Motion Design</h2>
	<%= render @projects %>
	
<h2 id="packaging">Packaging Design</h2>
	<%= render @projects %>

<h2 id="print">Print Design</h2>
	<%= render @projects %>
	<%= render @projects %>

<h2 id="product">Product Design</h2>
	<%= render @projects %>
	
<h2 id="service">Service Design</h2>
	<%= render @projects %>
	<%= render @projects %>
	
<h2 id="web">Web Design</h2>
	<%= render @projects %>
	<%= render @projects %>