<div id="home">
	<h3>You want print?</h3>
	<p>We'll give you print</p>
</div>
<h2 id="capstones">Capstones</h2>
	<%= render @projects %>

<h2 id="exhibitions">Exhibitions</h2>
	<%= render @projects %>
	
<h2 id="identity">Identity</h2>
	<%= render @projects %>
	<%= render @projects %>
	
<h2 id="infographics">Infographics</h2>
	<%= render @projects %>
	<%= render @projects %>
	
<h2 id="interaction">Interaction</h2>
	<%= render @projects %>
	
<h2 id="posters">Posters</h2>
	<%= render @projects %>
	
<h2 id="prototypes">Prototypes</h2>
	<%= render @projects %>

<h2 id="research">Research</h2>

<h2 id="videos">Videos</h2>

<h2 id="websites">Websites</h2>
	<%= render @projects %>
	<%= render @projects %>