<header>
	<h1 id="logo"><%= link_to "UW Design 2011", root_path %></h1>
	<nav id="main">
		<ul>
			<li><%= link_to "Work", root_path %></li>
			<li><%= link_to "People", people_path %></li>
			<li><%= link_to "Show Info", show_information_path %></li>
			<li><%= link_to "About UW Design", about_uw_design_path %></li>
		</ul>
	</nav>
	<nav id="categories">
		<ul>
			<% if defined?(@navs).nil? %>
				<%= print "var is not defined\n" %>
			<% else %>
				<li><a href='#all' class="scroll">All</a></li>
			
				<% @navs.each do |nav| %>
				<li><a href='/#<%= nav.name.downcase %>' class="scroll"><%= nav.name %></a></li>
				<% end %>
			<% end %>
		</ul>
	</nav><!-- end #categories -->
</header>